---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Conócenos"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Julio 09 2024')}
	heroImage="https://www.andaluciaesdigital.es/educarparaproteger/adolescentes/images/galeria/perfiles-tic/blogs.jpg"
>

	<strong>
		**Integrantes:**
	</strong>
		<p>
		-Espejo Joselyn, C.I: V-28140250
	</p>

	<p>
		-Larenas Yesenia, C.I: V-30293262
	</p>

	<p>Somos estudiantes de la Ingeniería en Informática en la Universidad Nacional Experimental de Guayana. Este es nuestro blog para la materia de telecomunicaciones I. </p> 
	
	<p>¡Bienvenidos y disfruten la experiencia!</p>


</Layout>
