---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>¡Hola Telecom!</h1>
			<p>
¡Hola a todos y bienvenidos a Telecom, tu fuente confiable para todo lo relacionado con las telecomunicaciones!

En este espacio, nos dedicamos a explorar y compartir las últimas noticias, avances tecnológicos, y tendencias en el mundo de las telecomunicaciones. Desde innovaciones en redes 5G hasta consejos prácticos para mejorar tu conectividad, nuestro objetivo es mantenerte informado y al día.
</p>
<strong>¿Qué encontrarás aquí?</strong>
<p>
<ul>
<li>
<strong>Noticias y Actualizaciones:</strong> Mantente al tanto de los eventos más recientes en la industria de las telecomunicaciones.</li>
<li><strong>Análisis y Opinión:</strong> Profundizamos en los temas más importantes y ofrecemos perspectivas expertas.</li>
<li><strong>Guías y Tutoriales:</strong> Aprende cómo sacar el máximo provecho de tu tecnología de telecomunicaciones con nuestras guías detalladas.</li>
<li><strong>Entrevistas y Reportajes:</strong> Conoce a los líderes de la industria y descubre sus visiones sobre el futuro de las telecomunicaciones.</li>
</ul>
<strong>Únete a la Conversación</strong>
<p>Nos encanta interactuar con nuestra comunidad. No dudes en dejar tus comentarios, compartir tus opiniones y sugerir temas que te gustaría ver en el blog. ¡Tu participación es lo que hace que Telecom sea un lugar vibrante y dinámico!</p>

<p>Gracias por visitarnos, y esperamos que disfrutes de tu tiempo aquí en Telecom.</p>

<p>Puedes encontrar el link del repositorio de este proyecto en </p>
			<p>
				<a href="https://github.com/joselynmirror/blog"
					>astro-blog-template</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
